@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM";
  src: url("/DMSans-Regular.ttf");
}

@font-face {
  font-family: "MT";
  src: url("/Montserrat-Regular.ttf");
}
